# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [8]:
-- Used nalini schema, as I can't create new schema planned_makes
CREATE table nalini.wood_working(
    item_id INT PRIMARY KEY IDENTITY (1, 1),
    item_name VARCHAR (50) NOT NULL,
    qty int  NOT NULL,
    eta_in_weeks int     
);

Add three rows to your table that are your planned makes.

In [12]:
SET IDENTITY_INSERT nalini.wood_working ON
INSERT INTO nalini.wood_working (item_id, item_name,qty,eta_in_weeks)
VALUES (1, 'dining tables', 4, 3)
INSERT INTO nalini.wood_working (item_id, item_name,qty,eta_in_weeks)
VALUES (2, 'entertainment center', 1, 6)
INSERT INTO nalini.wood_working (item_id, item_name,qty,eta_in_weeks)
VALUES (3, 'kids bunk bed', 1, 2)
SET IDENTITY_INSERT nalini.wood_working OFF

select * from nalini.wood_working;

item_id,item_name,qty,eta_in_weeks
1,dining tables,4,3
2,entertainment center,1,6
3,kids bunk bed,1,2

## Update a Row

Change different values in one of your three rows.

In [13]:
Update nalini.wood_working set item_name='twin bed', qty = 2, eta_in_weeks = 3
where item_id = 3;
select * from nalini.wood_working;

item_id,item_name,qty,eta_in_weeks
1,dining tables,4,3
2,entertainment center,1,6
3,twin bed,2,3

## Delete a Row

Delete one of the rows from your table.

In [14]:
DELETE FROM nalini.wood_working WHERE item_id = 2;
select * from nalini.wood_working;

item_id,item_name,qty,eta_in_weeks
1,dining tables,4,3
3,twin bed,2,3

## Drop the Table

While this has been fun, it is time to drop the table!

In [15]:
drop table nalini.wood_working